[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = ">=1.7.5"
black = "==23.11.0"
pylint = "==3.0.2"
tomli = "==2.2.1"

[packages]
aiohttp = "==3.13.2"
async-timeout = {version = "==5.0.1", markers = "python_version < '3.11'"}
typing-extensions = "==4.15.0"
colorama = "==0.4.6"
"discord.py" = {version = "==2.6.3", extras = ["speed"]}
emoji = "==2.8.0"
isodate = "==0.6.1"
motor = "==3.7.1"
natural = "==0.2.0"
packaging = "==23.2"
parsedatetime = "==2.6"
dnspython = "==2.8.0"
pymongo = "==4.15.3"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
uvloop = {version = "==0.22.1", markers = "sys_platform != 'win32'"}
lottie = {version = "==0.7.2", extras = ["pdf"]}
setuptools = "==80.9.0"
requests = "==2.31.0"
orjson = "==3.11.4"

[scripts]
bot = "python bot.py"
